.Moto {
  margin-top: 2rem;
}
.Moto__container {
  /* display: flex; */
  gap: 2rem;
  flex-direction: column;
}
.Moto__box--logo {
  width: 100%;
  overflow-x: hidden;
  overflow-y: hidden;
  white-space: nowrap;
  scroll-snap-type: x mandatory;
  scrollbar-width: 0;
  scrollbar-color: transparent transparent;
  position: relative;
}
.Moto__box__logo--options {
  display: flex;
  width: 100%;
  padding: 1rem 0;
  /* position: relative; */
}
.Moto__box__logo__options--items {
  scroll-snap-type: x mandatory;
  flex: 0 0 100%;
  fill: var(--fill-icon);
  width: max-content;
  display: flex;
  align-items: center;
  justify-content: center;
  cursor: pointer;
  pointer-events: stroke;
  -webkit-tap-highlight-color: transparent;
  -webkit-tap-highlight-color: rgba(0, 0, 0, 0);
  position: relative;
  transition: var(--transition);
  -webkit-transition: var(--transition);
  -moz-transition: var(--transition);
  -ms-transition: var(--transition);
  -o-transition: var(--transition);
}
.Moto__box__logo__options--items.Moto__box__logo__options__items--change-fill {
  fill: var(--fill-hover);
}
.Moto__box__logo__options--items::after {
  content: "";
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
}
.Moto__box__bar--down {
  position: absolute;
  bottom: 0;
  left: 0;
  width: calc(100%);
  background: #1464f4;
  height: 0.3rem;
  border-radius: 1rem;
  -webkit-border-radius: 1rem;
  -moz-border-radius: 1rem;
  -ms-border-radius: 1rem;
  -o-border-radius: 1rem;
  transition: var(--transition);
  -webkit-transition: var(--transition);
  -moz-transition: var(--transition);
  -ms-transition: var(--transition);
  -o-transition: var(--transition);
}
.Moto__box--items {
  margin-top: 2rem;
  margin-bottom: 2rem;
  width: 100%;
  position: relative;
  padding-bottom: 3rem;
}
.Moto__box--items--img {
  width: 100%;
}

.Moto__box--items--img > img {
  scale: 0.7;
  width: 100%;
}
.Moto__box__items--arow {
  position: absolute;
  bottom: 0;
  left: 0;
  width: 100%;
  height: 3rem;
  display: flex;
  align-items: center;
  justify-content: center;
  gap: 2rem;
}
.Moto__box__items--arow__items {
  display: block;
  padding: 1rem;
  background: rgba(128, 128, 128, 0.323);
  border-radius: 50%;
  -webkit-border-radius: 50%;
  -moz-border-radius: 50%;
  -ms-border-radius: 50%;
  -o-border-radius: 50%;
  display: flex;
  align-items: center;
  justify-content: center;
  box-shadow: 0 0 0 0.1rem rgba(0, 0, 0, 0.204);
  cursor: pointer;
}
.Moto__box__items--arow__items > svg {
  width: 2rem;
  height: 2rem;
  fill: white;
  transition: all 0s linear;
  -webkit-transition: all 0s linear;
  -moz-transition: all 0s linear;
  -ms-transition: all 0s linear;
  -o-transition: all 0s linear;
}
.Moto__box__items--arow__items:active > svg {
  width: 2rem;
  height: 2rem;
  fill: var(--fill-hover);
}
.Moto__box__items__detail--parameter {
  display: grid;
  grid-template-columns: repeat(2, 1fr);
  gap: 1rem;
}
.Moto__box--img.Moto__box__img__changed--items{
  animation: MotoBlurWhenChangedItem .5s ease-in-out;
  -webkit-animation: MotoBlurWhenChangedItem .5s ease-in-out;
}
.Moto__box__items__detail--parameter.Moto__box__items__detail--parameter__changed--items{
 animation: MotoBlurWhenChangedItem .5s ease-in-out;
 -webkit-animation: MotoBlurWhenChangedItem .5s ease-in-out;
}

@keyframes MotoBlurWhenChangedItem {
  from {
    filter: blur(.2rem);
    -webkit-filter: blur(.2rem);
    opacity: 0;
} to {
  filter: blur(0);
  -webkit-filter: blur(0);
  opacity: 1;
}
}
.Moto__box__items--detail {
  background: linear-gradient(180deg, white , #f6f8f8);
}
.Moto__box__items__detail__parameter--speed,
.Moto__box__items__detail__parameter--distance,
.Moto__box__items__detail__parameter--price,
.Moto__box__items__detail__parameter--box-moto {
  display: flex;
  align-items: center;
  gap: 1rem;
  flex-direction: column;
}
.Moto__box__items__detail__parameter--title {
  font-size: var(--font-size-medium);
  font-weight: 600;
  text-align: center;
}
.Moto__box__items__detail__parameter--value {
  font-size: var(--font-size-large);
  font-weight: bold;
  text-align: center;
}

.Moto__box__items__detail--btn {
  margin-top: 2rem;
  display: flex;
  align-items: center;
  gap: 1rem;
  padding: 1rem 0;
  justify-content: center;
}

.Moto__box__items__detail__btn--deposit,
.Moto__box__items__detail__btn--views-more {
  padding: 2rem;
  border: var(--border-btn);
  border-radius: 1rem;
  -webkit-border-radius: 1rem;
  -moz-border-radius: 1rem;
  -ms-border-radius: 1rem;
  -o-border-radius: 1rem;
  width: calc(100% / 2);
  text-align: center;
  font-size: var(--font-size-medium);
  position: relative;
  overflow: hidden;
  text-decoration: none;
  z-index: 1;
  cursor: pointer;
}

.Moto__box__items__detail__btn--deposit {
  color: var(--color-in--image);
}
.Moto__box__items__detail__btn--deposit:hover {
  color: var(--color-url);
}
.Moto__box__items__detail__btn--deposit::after {
  content: "";
  position: absolute;
  left: 0;
  top: 0;
  width: 100%;
  height: 100%;
  z-index: -1;
  background: var(--bg--btn);
  transition: all 0.3s ease-in-out;
  -webkit-transition: all 0.3s ease-in-out;
  -moz-transition: all 0.3s ease-in-out;
  -ms-transition: all 0.3s ease-in-out;
  -o-transition: all 0.3s ease-in-out;
  transform-origin: right;
}

.Moto__box__items__detail__btn--deposit:hover::after {
  width: 0;
  animation: MotoHoverBtnDeposit 0.5s ease-out;
  -webkit-animation: MotoHoverBtnDeposit 0.5s ease-out;
}
@keyframes MotoHoverBtnDeposit {
  from {
    width: 100%;
  }
  50% {
    width: 0%;
  }
  70% {
    width: 10%;
  }
  to {
    width: 0;
  }
}
.Moto__box__items__detail__btn--views-more {
  color: var(--color-url);
}
.Moto__box__items__detail__btn--views-more:hover {
  color: var(--color-in--image);
}
.Moto__box__items__detail__btn--views-more::after {
  content: "";
  position: absolute;
  left: 0;
  top: 0;
  width: 0;
  height: 100%;
  z-index: -1;
  background: var(--bg--btn);
  transition: all 0.3s ease-in-out;
  -webkit-transition: all 0.3s ease-in-out;
  -moz-transition: all 0.3s ease-in-out;
  -ms-transition: all 0.3s ease-in-out;
  -o-transition: all 0.3s ease-in-out;
}

.Moto__box__items__detail__btn--views-more:hover::after {
  width: 100%;
  animation: MotoHoverBtnVIewMore 0.5s ease-out;
  -webkit-animation: MotoHoverBtnVIewMore 0.5s ease-out;
}

@keyframes MotoHoverBtnVIewMore {
  from {
    width: 0;
  }
  50% {
    width: 100%;
  }
  70% {
    width: 90%;
  }
  to {
    width: 100%;
  }
}
