@media screen and (min-width: 1200px) {
  #greening__the__future {
    padding: 10%;
    background-position: left center;
    background-size: 100%;
  }
  .greening__the__future__container {
    display: flex;
    justify-content: end;
    width: 100%;
  }

}