@media screen and (min-width: 900px) {
  .Cars__box__logo__options--items {
    flex: 1;
    justify-content: center;
    display: flex;
  }
  .Cars__box__items--arow {
    top: 50%;
    transform: translateY(-50%);
    -webkit-transform: translateY(-50%);
    -moz-transform: translateY(-50%);
    -ms-transform: translateY(-50%);
    -o-transform: translateY(-50%);
    justify-content: space-between;
  }
  .Cars__box__bar--down {
    width: calc(100% / 6);
  }
  .Cars__box__items__detail__btn--views-more,
  .Cars__box__items__detail__btn--deposit {
    width: 26rem;
  }
}
